<!DOCTYPE html>
<html lang="en">
<head>
    <title>SWAPI mod</title>
</head>
<body class="container">
    <h1>Welcome to the STAR WARS API</h1>
    <ul>
        <li><a href="/character/luke">Character By Name</a></li>
        <li><a href="/characters/?sort=height">Characters Sorted by name, mass or height</a></li>
        <li><a href="/planetresidents">Planets and their residents</a></li>
    </ul>
</body>
</html>