<!DOCTYPE html>
<html lang="en">
<head>
    <title>Start Wars API</title>
</head>
<body class="container">
    <h1>Welcome to the STAR WARS API</h1>
    <p>These are not the droids you're looking for... (searching for <%= search.name %>)</p>
</body>
</html>